* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #F6F6F6;
}

header {
    
    height: 5rem;
    background-color: rgb(240, 240, 215);
}

main {
    height: auto;
    display: flex;
    margin: 2rem 2rem;
}

footer {
    height: 5rem;
    background-color: rgb(240, 240, 215);
}


.wrapper {
    width: 70%;
    margin: 0 2rem;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: #495057;
    font-family: 'Source Sans Pro';
}



/* catalog */


.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 4fr));
    gap: 2rem;
    /* margin-top: 59px; */

}

.book {
    height: 470px;
    /* border: 2px solid #479152; */
    position: relative;

}

.book_wrapper {
    position: relative;
}

.book_wrapper:hover .book_image {
    opacity: 0.5;
}

.book_wrapper:hover .more__button {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.button {
    width: 100%;
    margin-top: 1rem;
    /* border-radius: 100px; */
    border: 2px solid #8add97;
    color: #fdfafa;
    font-family: Georgia;
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    background: #8add97;
    padding: 7px 9px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0%;
}

.button:hover {
    cursor: pointer;
    background: #479152;
    border: 2px solid #479152;
}

.more__button {
    display: none;
}

.backet__button {
    display: flex;
    justify-content: center;
}

.book_image {
    width: 100%;
}

.book_title {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.06em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book_author {
    color: #9e866b;
    font-size: 1.3rem;
}

.book_price {
    font-size: 1.5rem;
    text-align: center;
    /* padding-bottom: 1rem; */
    padding-top: 1.5rem;
}


/* cart */

.cart {
    width: 30%;
    background-color: #e6f7e9;
    color: #9e866b;
    font-size: 3rem;
    text-align: center;
    font-size: 2rem;
}

.cart_title {}

.cart_book {
    display: flex;
    justify-content: space-between;

}



/* learn more  popup*/
#popup_more {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    color: #353a3f;
}

#popup_more.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

#more_content {
    width: 60rem;
    flex-direction: column;
    height: 30rem;
    background: white;
    border-radius: 5px;
    display: flex;
}

.close_result {
    margin-left: auto;
    margin-bottom: auto;
    font-size: 3rem;
}

.close_result:hover {
    cursor: pointer;
    color: #479152;
}

.description {
    padding: 7rem 2rem;
}

   
/* form */
.form_delivery {
    padding: 20px;
    font-size: 2rem;
    margin: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    border: 2px solid grey;
}

.form_title {
    margin-left: 10px;
    margin-bottom: 7px;
}

.input {
    padding: 15px 10px;
    border: 2px solid #ced4da;
    border-radius: 10px;
    color: #42464a;
    background-color: #ffffff;

}

.input:invalid {
    border-color: red;
}

.input:hover {
    background-color: #ffffff;
}

.input:focus {
    outline: none;
    background-color: #ffffff;
}

.input:focus::placeholder {
    opacity: 0;
}


.message {
    opacity: 0;
    margin: 5px 0 8px 10px;
    font-size: 14px;
    color: red;
}


#submit {
    padding: 15px 10px;
    border: 2px solid #479152;
    border-radius: 6px;
    transition: background-color 300ms;
    margin-top: 10px;
    color: rgb(240, 235, 235);
    background-color: #479152;
    font-weight: bold;

    cursor: pointer;
    text-transform: uppercase;
}

#submit:disabled {
    background-color: #ccc;
}

#submit:disabled:hover {
    cursor: not-allowed;
    background-color: #ccc;
    color: #495057;
}


#submit:hover {
    background-color: #479152;
    color: rgb(240, 235, 235);
}


.non-valid:invalid {
    border-color: red;
}


.gift {
    margin-top: 10px;
}




/* gender */
.payment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 1;
}

.payment label {
    user-select: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    z-index: 10;
    margin: 0 10px 10px 0;
    position: relative;
    color: #ced4da;
    /* text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); */
    font-weight: bold;
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}

input[type="radio"]:checked+label {
    color: #495057;
    background-color: #ced4da;
}

input[type="radio"]+label {
    padding: 5px 20px;
    border-radius: 10px;
}




/* result delivery */
#popup_result {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 2;
    font-size: 2rem;
    text-align: center;
}

#popup_result.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-content {
    width: 60rem;
    flex-direction: column;
    height: 30rem;
    background: white;
    border-radius: 5px;
    display: flex;
    /* justify-content:center;
    align-items:center; */
}

#result1 {
    padding-top: 3rem;
}

#result3 {
    padding-bottom: 5rem;
}


.close_form {
    margin-left: auto;
    margin-bottom: auto;


}

.close_form:hover {
    cursor: pointer;
    color: #479152;
}


/* footer */